<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- הרשאות בסיסיות -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- הרשאות מיקום -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- הרשאות שירות קדמי -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapMyTasks">

        <!-- מסך לוגאין – מסך פתיחה -->
        <activity
            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- מסכי האפליקציה -->
        <activity android:name=".Productivity" android:exported="false" />
        <activity android:name=".WeeklySummary" android:exported="false" />
        <activity android:name=".TasksScreen" android:exported="false" />
        <activity android:name=".EditTask" android:exported="false" />
        <activity android:name=".CreateTask" android:exported="false" />
        <activity android:name=".PartnerManagement" android:exported="false" />
        <activity android:name=".SentTasksActivity" android:exported="false" />
        <activity android:name=".BalloonGameActivity" android:exported="false" />


        <!-- MainActivity חייב להיות exported=true בשביל Intent -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- שירות מיקום קדמי -->
        <service
            android:name=".LocationTaskService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <!-- ריסיברים להתראות ולגאופנס -->
        <receiver android:name=".NotificationActionReceiver" />



    </application>

</manifest>
